.navbar {
  background-color: #3c75f9;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  gap: 18px;
  border-radius: 12px;
  margin: 10px;
  box-shadow: 0 4px 10px #1565e604;
}

.navbar a,
.navbar button {
  color: #f8fafc;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navbar a:hover,
.navbar button:hover {
  background-color: hsla(228, 73%, 47%, 0.782);
  color: white;
}